*, *::after, *::before {
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  color: #fff;
  font-family: "Orbitron";
}

header {
  display: grid;
  place-items: center;
  grid-template-columns: 30% auto 30%;
  width: 100vmin;
  padding-top: 1vmin;
  font-size: 3vmin;
  background-color: rgb(44, 56, 90);
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vmin;
  border: solid 1vmin #000;
}

/* Start menu styles */

#start-menu {
  display: grid;
  place-items: center;
  gap: 3vmin 10vmin;
  grid-template-columns: 24vmin 24vmin;
  background-color: rgba(0, 0, 0, 0.7);
}

#setting-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1vmin 2vmin;
  font-size: 3vmin;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

#start-menu h2 {
  font-size: 4vmin;
  font-weight: bolder;
  grid-column: 1 / span 2;
}

.user-select {
  font-size: 2vmin;
}

.radio-btn {
  height: 2vmin;
  width: 2vmin;
}

#start-menu .name-input {
  font-size: 2vmin;
  font-family: "Orbitron";
  margin-top: 1vmin;
  max-width: 23vmin;
  text-transform: uppercase;
}

#start-menu #start-btn {
  grid-column: 1 / span 2;
}

.btn {
  font-size: 2vmin;
  font-family: "Orbitron";
  padding: 1vmin 2vmin;
  cursor: pointer;
}

/* Setting menu styles */

#setting-menu {
  display: grid;
  place-items: center;
  gap: 2vmin;
  background-color: rgba(0, 0, 0, 0.7);
}

#setting-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vmin;
}

.slider {
  height: 3vmin;
  width: 20vmin;
}

/* Winner screen styles */

#winner-screen {
  background-color: rgba(0, 0, 0, 1);
}

#winner-screen h2 {
  font-size: 4vmin;
}

#winner-screen #reset-btn {
  display: block;
  width: 100%;
  margin: 3vmin 0 0 0;
}

#score {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100vmin;
  font-size: 5vmin;
  opacity: 0.6;
  padding-top: 8vmin;
}

/* Canvas styles */

#canvas {
  height: 80vmin;
  width: 100vmin;
  border: 1vmin solid rgb(27, 34, 54);
  background-color: rgb(44, 56, 90);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.hide {
  display: none !important;
}